.grid {
    display: grid;
}

.grid-col-2 {
    grid-template-columns: 50% 50%;
}
.grid-col2-home {
    grid-template-columns: 30% 70%;
    margin-top:-12px;
}

.grid-col-3
{
    grid-template-columns: repeat(3,1fr);
}

.grid-col-4
{
    grid-template-columns: repeat(4,1fr);
}

.grid-column-2 {
    grid-template-columns: repeat(2,1fr);
}

*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#first-section
{

    height: 30vh;
    background-image: url("../img/header_image.png");
    background-size: cover;
    background-position: center center;
    
    
}

.bannerlabel
{
    padding: 16px 32px; 
     text-align: right;
     font-size: 32px;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

header{

    background-color: rgb(6, 72, 99);
}


header a{
    text-decoration: none;
    color:white;
}
header>nav li{

   /* display: inline;    */
    padding: 16px 32px; 
    display:inline-block;
}
li
{
    padding: 16px 10px;
 
}

/********************LOGIN FORM***********************/
.formContainer{
    display:flex;
    align-items:center;
    justify-content:center;
    width:380px;
    height:450px;
    border: 1px solid black
}

.form-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;

}

.login-btn{
    display: flex;
    margin-top:40px;
    margin-bottom:10px; 
}

.loginCenter{
    justify-items: center;
    margin-bottom: 30px
}


/********************ADD FORM***********************/


.form-control-container
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-control-container label , .form-control-container input , .form-control-container textarea,  .form-control-container select  
{
    margin-left: 30px;
    display:block;
    width:70%;
}

.form-control-container label 
{
    font-weight: bold;
}
.form-control-container a 
{
    margin-left: 30px;
    font-weight: bold;
    font-size: 18px;
}


input[type=text].form-control
{
    height:30px;
}

textarea.form-control
{
    height:150px;
}
/************************GAME LIST*******************/
.game-list-continer
{
    margin: 16px ;
   
 
}

.game-container
{
    background-color:rgb(224, 231, 230);
    margin-bottom: 10px;
    padding:16px;
 
}

.game-top-area > p
{
    font-weight: 900;
    font-size:calc(1rem + 5px);

}

.game-description
{
    font-size:calc(1rem - 2px);
}
.rate-description
{
    font-size:14px;
    font-weight: bold;
}
.radio-rating
{
    font-size:calc(1rem - 2px);
    margin-left:20px;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.4rem;
    font-size: 1.1rem;
    background-color: rgb(238, 238, 238);
}

.categoryBox
{
    padding: 16px 30px;     
   
    display: block;
      
    text-align: center;
  
   
}
.catogoryName
  {
      align-items: center;
      font-weight: bold;
  }
.intro
{
    padding: 50px;
    margin-top:50px;
    font-size: 17px;
    font-weight:normal;
    font-style:normal;
    color:rgb(17, 74, 107);
}
.intro-heading
{     
    font-size: larger;
    font-weight:bold;
    line-height:2.4rem;
    padding-bottom: 20px;;
    
 }

 /******************Modal*****************************/
 .popUp-Modal
  {
      position:fixed;
      top:20%;
      left: 170px;
      height:100vh;
      width:70%;
      z-index:1;
      background-color: transparent;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
      
  
  }
  .popUp-Modal-container
  {
      width:300px;   
      margin: 0 auto;
      font-size: 16px;
      font-weight: bold;
      font-family: Arial;
      background-color:white;
      padding:50px 32px;
      text-align: center;
      align-items: center;
  }

  .hide
{
    display:none;
}
.game_rating {
    display: flex;
    font-weight: bold;
    font-size: 15px;
  }
  
