a {
    text-decoration: none;

}
.user-profile-container {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px 600px 100px;
    border: 2px solid grey;
    border-radius: 4px;
}

.user-info-container {
    display: grid;
    grid-template-columns: 50% 50%;
    border-bottom: 2px solid grey;
}

.user-info-detail {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    padding: 20px;
}
.user-info-item {
    align-self: center;
    padding: 10px;

}
.user-name {
    font-size: 30px;
    padding: 50px 30px;
    align-self: center;
}
.user-save {
    padding: 10px;
    border: 1px solid grey;
    margin: 10px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    align-self: center;
    font-size: 30px;
    color: red;
    background-color: yellow;
}
.user-games-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    height: 100%;
}
.user-games-search {
    height: 40px;
    width: 50%;
    margin: auto;
    border-radius: 4px;
    padding-left: 10px;
    border-width: 1px;
}
.user-games-pane {
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.user-games-pane > div {
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 20px;
    display: grid;
    grid-template-rows: 15% 85%;
    height: 500px;
    margin-bottom: 50px;
}
.user-game-edit-list-title {
    margin: 10px;
    font-size: 25px;
    align-self: center;
    
}
.user-game-edit-list-main {
    overflow-y: scroll;
}

.user-game-item {
    border: 1px solid #777;
    border-radius: 5px;
    height: 70px;
    display: grid;
    grid-template-columns: 50% 25% 25%;
    margin: 10px;
}
.user-game-item-name {
    display: inline-block;
    padding: 10px;
    align-self: center;
    font-size: 20px;
}
.user-game-item-button {
    align-self: center;
    display: inline-block;
    border: 1px solid grey;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    width: 80px;
    height: 30px;
    font-size: 14px;
    justify-self: center;
    text-decoration: none;
}
.button-attention {
    border-color: red;
}
.add-game-button {
    display: block;
    border: 1px solid grey;
    background-color: black;
    border-radius: 5px;
    color: white;
    height: 40px;
    width: 150px;
    margin: 50px;
    margin-left: 80%;
    text-align: center;
    align-self: center;
    text-decoration: none;
}

.alert-content {
    display: block;
    font-size: 12px;
    color: #c40000;
    padding-left: 40px;
}

.game-info-container {
    width: 800px;
    margin: 40px auto;
    border: 4px solid #1889b3;
    border-radius: 25px;
}
.game-info-container > p {
    margin: 20px;
    word-wrap: break-word;
}

.edit-profile-container {
    position: fixed;
    top: 150px;
    left: 250px;
    width: 900px;
    border: 2px solid #606567;
    border-radius: 10px;
    background-color: #a7b0b3;
}
.add-game-container {
    position: fixed;
    top: 150px;
    left: 250px;
    width: 900px;
    border: 2px solid #606567;
    border-radius: 10px;
    background-color: #a7b0b3;
}
.hidden {
    display: none;
}
.disabled {
    pointer-events: none;
    opacity: 0.4;
}
.back-button {
    padding-left: 30px;
}
.contact-info {
    padding: 20px;
    font-size: 20px;
}